.form__container .form-box {
  margin-right: 10px;

  @include vp-1023 {
    margin-right: 0;
  }
}

.form-box h3 {
  margin: 0 0 10px;

  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  font-family: $ff-roboto;
  color: $color-default-white;

  @include vp-1023 {
    margin-bottom: 6px;
  }

  @include vp-767 {
    font-size: 30px;
    line-height: 42px;
  }
}

.form-box p {
  margin: 0 0 35px;

  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;

  @include vp-1023 {
    margin-bottom: 25px;
  }

  @include vp-767 {
    margin-bottom: 35px;

    font-size: 14px;
    line-height: 19px;
  }
}

.form-box__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 30px;
  align-items: start;

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.modal__content .form-box__container {
  grid-template-columns: 1fr;
}

.form-box__container input,
.form-box__container textarea {
  width: 100%;
  padding: 14px 15px;

  font-size: 16px;
  line-height: 22px;
  font-family: $ff-ptmono;
  color: $color-default-white;

  background-color: rgba(4, 20, 39, 0.15);
  border: none;
  border-radius: 3px;

  @include hover-focus {
    outline: 1px solid #041427;
  }

  &::placeholder {
    color: #ffffff;

    opacity: 1;
  }

  &:active {
    opacity: 0.6;
  }
}

.form-box__container textarea {
  grid-column: 1/-1;
  height: 155px;
  padding-top: 24px;

  resize: none;

  @include vp-1023 {
    padding-top: 30px;
  }

  @include vp-767 {
    height: 180px;
    padding-top: 22px;
  }
}

.form-box__btn {
  display: block;
  width: 265px;
  margin-top: 15px;
  padding: 14px 10px 11px;

  font-size: 16px;
  line-height: 19px;
  font-family: $ff-roboto;

  background-color: #041427;
  border: 1px solid #041427;

  @include vp-767 {
    width: 100%;
    max-width: 270px;
    margin: 10px auto 0;
  }
}

.modal__content .form-box__btn {
  width: 100%;
  margin-top: 5px;
}

.form-box__checkbox {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 9px;
  justify-content: start;
  align-items: center;
  order: 1;
  margin: 29px 0 0 11px;

  @include vp-1023 {
    margin: 24px 0 0;
  }

  @include vp-767 {
    margin: 3px 0 0 5px;
  }
}

.modal__content .form-box__checkbox {
  margin-top: 0;
}

.form-box__checkbox label {
  position: relative;

  font-size: 14px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.8);
}

.form-box__checkbox input[type="checkbox"] {
  width: 15px;
  height: 15px;
  padding: 0;

  background-color: #00b3ff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 7px 4px;
  border: 1px solid #ffffff;
  border-radius: 2px;

  appearance: none;
}

.form-box__checkbox input[type="checkbox"]:checked {
  background-image: url("../img/svg/tick.svg");
}
